/* Type your name here: George Dant */

/* Used by elements with a class of hidden. No need to change. */
.hidden {
   display: none;
}

/* Insert key-value pairs in the properties below, according to README.md */
#main {

	margin: 10%;
	margin: 20%;

	border: 1px solid gray;
	padding: 2ems;

}

h3 {

	align-content: center;
	font-size-adjust: 200%;

	border-bottom: 2px dotted gray;

}

#main li {

}

#main li:hover {

}

li .remove {

}

ul {

}

.edit {

}

input[type="button"] {

}

input[type="button"]:hover {

}
